@media screen and (max-width: 1360px){
    #aboutMe{
        .mx-auto{
            h2{
                font-size: 70px;
            }
            .d-flex{
                #tekst, #slika{
                    font-size: 20px;
                    width: 48%;
                }
            }
        }
    }
}
@media screen and (max-width: 1200px){
    #projects{
        .mx-auto{
            h2{
                font-size: 65px;
            }
            .rows{
                .projekti{
                    .projekat{
                        figure{
                            width: 96%;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 1000px){
    header{
        nav{
            justify-content: center;
        }
    }
    #slider{
        #providan{
            #welcome{
                font-size: 35px;
            }
        }
    }
    .p-80-0{
        padding: 50px 0px;
    }
    #skills{
        .mx-auto{
            width: 95%;
            flex-direction: column;
            border-left: 0px;
            h2{
                font-size: 75px;
                margin-bottom: 20px;
                border-bottom: 5px solid #091d35;
            }
            .rows{
                width: 100%;
                .skillsIcons{
                    figure{
                        width: 16%;
                    }
                }
            }
        }
    }
    #projects{
        .mx-auto{
            width: 95%;
            flex-direction: column-reverse;
            border-right: 0px;
            h2{
                font-size: 70px;
                margin-bottom: 10px;
                border-bottom: 5px solid #fff;
            }
            .rows{
                width: 100%;
                .projekti{
                    .projekat{
                        width: 50%;
                    }
                    figure{
                        width: 100%;
                    }
                }
            }
        }
    }
    #aboutMe{
        .mx-auto{
            flex-direction: column;
            width: 100%;
            border-left: 0px;
            h2{
                font-size: 70px;
                margin-bottom: 10px;
                border-bottom: 5px solid #091d35;
            }
            .d-flex{
                width: 100%;
            }
        }
    }
    #contact{
        .mx-auto{
            flex-direction: column;
            .col{
                width: 90%;
                margin-bottom: 40px;
            }
        }
    }
}
@media screen and (max-width: 800px){
    header{
        nav{
            justify-content: center;
        }
    }
}
@media screen and (max-width: 675px){
    #slider{
        #providan{
            #welcome{
                font-size: 30px;
            }
        }
    }
}
@media screen and (max-width: 600px){
    header{
        position: static;
        nav{
            ul{
                flex-direction: column;
                align-items: center;
                li{
                    font-size: 20px;
                    a{
                        &:hover{
                            font-size: 24px;
                        }
                    }
                }
            }
        }
    }
    #slider{
        #providan{
            #welcome{
                font-size: 25px;
            }
        }
    }
    .p-80-0{
        padding: 40px 0px;
    }
    #skills{
        .mx-auto{
            h2{
                font-size: 50px;
            }
        }
    }
    #projects{
        .mx-auto{
            h2{
                font-size: 50px;
            }
            .rows{
                .projekti{
                    flex-direction: column;
                    align-items: center;
                    .projekat{
                        width: 80%;
                    }
                }
            }
        }
    }
    #aboutMe{
        .mx-auto{
            flex-direction: column;
            h2{
                font-size: 50px;
            }
            .d-flex{
                width: 100%;
                flex-direction: column;
                #slika, #tekst{
                    width: 70%;
                }
            }
        }
    }
}
@media screen and (max-width: 505px){
    #slider{
        #providan{
            #welcome{
                padding-left: 30px;
                font-size: 20px;
            }
        }
    }
    #aboutMe{
        .mx-auto{
            .d-flex{
                #tekst{
                    font-size: 20px;
                }
            }
        }
    }
}
@media screen and (max-width: 400px){
    #slider{
        #providan{
            #welcome{
                padding-left: 5px;
                font-size: 17px;
            }
        }
    }
}