@media screen and (max-width: 1000px){
    #slider #providan #welcome{
        font-size: 30px;
    }
    #skills{
        padding: 70px 0px;
    }
    #skills .mx-auto h2{
        font-size: 75px;
        margin-bottom: 10px;
        border-bottom: 5px solid #040E18;
    }
    #skills .mx-auto{
        width: 95%;
        flex-direction: column;
        border-left: 0px;
    }
    #skills .mx-auto #rows{
        width: 100%;
    }
    #skills .mx-auto #rows .skillsIcons figure{
        width: 17%;
    }
}
@media screen and (max-width: 800px){
    header nav{
        justify-content: center;
    }
}
@media screen and (max-width: 600px){
    header nav ul{
        flex-direction: column;
        align-items: center;
    }
    header nav ul li{
        font-size: 20px;
    }
    #slider #providan #welcome{
        font-size: 25px;
    }
    #skills{
        padding: 60px 0px;
    }
    #skills .mx-auto h2{
        font-size: 60px;
    }
}
@media screen and (max-width: 505px){
    #slider #providan #welcome{
        padding-left: 30px;
        font-size: 20px;
    }
}
@media screen and (max-width: 400px){
    #slider #providan #welcome{
        padding-left: 5px;
        font-size: 17px;
    }
}