@import url('https://fonts.googleapis.com/css?family=Spartan&display=swap');
*{
    padding: 0px;
    margin: 0px;
    font-family: 'Spartan';
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
//Nav
header{
    width: 100%;
    color: #fff;
    background: #040E18;
    position: sticky;
    top:0;
    z-index: 2;
    box-shadow: 0px 0px 10px #000;
    nav{
        padding: 15px;
        ul{
            flex-wrap: wrap;
        }
        a{
            color: #fff;
            &:hover{
                font-size: 28px;
                box-shadow: 0px 0px 5px #fff;
                border-radius: 5px;
                padding: 9px;
                transition: 0.4s;
            }
        }
        li{
            font-size: 24px;
            padding: 5px 20px;
        }
    }
}

//Main
//Slider
#slider{
    width: 100%;
    height:100vh;
    background: {
        image: url(../img/pozadina.png);
        attachment: fixed;
        position: center;
        size: cover;
    }
    #providan{
        background-color: rgba(0,0,0, 0.5);
        height:inherit;
        justify-content: flex-start;
        width:inherit;
        #welcome{
            color: #fff;
            padding-left: 50px;
            font-size: 40px;
            font-weight: normal;
            p{
                text-align: right;
            }
            @keyframes fade-in-left {
                0% {
                    transform: translateX(-600px);
                    opacity: 0;
                }
                100% {
                  transform: translateX(0);
                  opacity: 1;
                }
            }
            .fade-in-left{
                animation: fade-in-left 2s 0.6s both;
            }
            @keyframes fade-in {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }
            .fade-in{
	            animation: fade-in 1.5s 2.6s both;
            }
            .btnProjects{
                border: 1px solid #fff;
                border-radius: 8px;
                padding: 5px 7px 5px 5px;
                float: right;
                color: #fff;
                i{
                    visibility: hidden;
                }
                &:hover i{
                    visibility: visible;
                    transition: 1s;
                }
            }
        }
    }
}

//Skills
#skills{
    width: 100%;    
    background-color: #cfd8dc;
    
    .mx-auto{
        border-left: 15px solid #091d35;
        border-radius: 5px;
        h2{
            font-size: 90px;
            color: #091d35;
        }
        .rows{
            .skillsIcons{
                width: 100%;
                figure{
                    width: 22%;
                    img{
                        width: 100%;
                    }
                }
            }
        }
    }
}
//Projects
#projects{
    width: 100%;
    background-color: #091d35;
    color: #fff;
    .mx-auto{
        border-right: 15px solid #fff;
        border-radius: 5px;
        width: 88%;
    }
    h2{
        font-size: 75px;
    }
    .rows{
        width: 75%;
    }
    .projekti{
        width: 100%;
        .projekat{
            width: 50%;
            padding: 15px 0px;
            figure{
                width: 90%;
                margin: 0 auto;
                background-color: rgba(0,0,0, 0.5);
                border-radius: 5px;
                img{
                    width: 100%;
                    border-radius: 5px 5px 0px 0px;
                }
                figcaption{
                    text-align: center;
                }
            }
        }
    }
}
//AboutMe
#aboutMe{
    width: 100%;
    background-color: #cfd8dc;
    color: #091d35;
    .mx-auto{
        border-left: 15px solid #091d35;
        border-radius: 5px;
        width: 85%;
        h2{
            font-size: 75px;
        }
        .d-flex{
            width: 70%;
            #slika, #tekst{
                width: 46%;
                font-size: 26px;
                text-align: center;
                figure{
                    width:100%;
                    img{
                        width:100%;
                        border-radius: 5px;
                        box-shadow: 0px 0px 10px #000;
                    }
                }
            }
        }
    }
}

//Footer
footer{
    width:100%;
    background-color: #040E18;
    color: #fff;
    font-size: 22px;
    padding: 30px 0px;
    a{
        color: #fff;
    }
    i{
        font-size: 34px;
    }
    h3{
        font-size: 34px;
    }
    ul, h3{
        text-align: center;
        li{
            padding-top: 15px;
        }
    }
    .mx-auto{
        width: 85%;
        .col{
            width: 32%;
            a:hover{
                border-bottom: 1px solid #fff;
            }
            input, textarea{
                border-radius: 5px;
                margin-bottom: 8px;
                background-color: #cfd8dc;
                color: #091d35;
                padding: 5px 0px 0px 5px;
                width: 90%;
                resize: none;
                &:focus{
                    outline: none;
                    box-shadow: 0px 0px 8px #fff;
                    transition: ease-in;
                }
            }
            input{
                height: 30px;
            }
            button{
                padding: 10px 20px;
                border-radius: 5px;
                cursor: pointer;
                background-color: #cfd8dc;
                color: #091d35;
                font-size: 20px;
                font-weight: bold;
                &:hover{
                    box-shadow: 0px 0px 8px #fff;
                }
            }
        }
    }
}

#btnUp{
    color: #fff;
    position: fixed;
    right: 20px;
    bottom: 15px;
    background-color: rgba(0,0,0, 0.5);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 40px;
}
//Classes
.rows{
    width: 60%;
}
.w-80{
    width: 80%;
}
.p-80-0{
    padding: 80px 0;
}
.mx-auto{
    margin: 0 auto;
}
.d-flex{
    display: flex;
}
.justify-around{
    justify-content: space-around;
}
.align-center{
    align-items: center;
}
.align-baseline{
    align-items: baseline;
}
.justify-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}
.flex-column{
    flex-direction: column;
}
.cleaner{
    clear: both;
}